# Python
__pycache__/
*.py[cod]
*\$py.class
*.so
.Python
venv/
env/
.venv/

# Секретні файли
.env
*.db
*.sqlite3
secrets/

# Тести та інструменти
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
